.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

.table-container {
  padding: 1rem;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.title-container {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.btn-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

p-table {
  max-height: 200px;
  overflow-y: auto;
}
