<div class="centered-container">
  <div class="flex-column gap-2">
    <p-floatLabel>
      <input pInputText id="nome" [ngModel]="pessoa?.nome" disabled="true" />
      <label for="nome">Nome</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-inputMask
        mask="999.999.999-99"
        [ngModel]="pessoa?.cpf"
        id="cpf_input"
        disabled="true"
      />
      <label for="cpf_input">CPF</label>
    </p-floatLabel>

    <p-floatLabel>
      <input pInputText id="email" [ngModel]="pessoa?.email" disabled="true" />
      <label for="email">Email</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-inputMask
        mask="(99)9 9999-9999"
        [ngModel]="pessoa?.telefone"
        id="telefone_input"
        disabled="true"
      />
      <label for="telefone_input">Telefone</label>
    </p-floatLabel>


    <div class="btn-container">
      <p-toast />
      <p-button
        label="Alterar"
        [raised]="true"
        severity="success"
        (click)="alterarPessoa()"
      >
      </p-button>
      <p-button
        label="Excluir"
        [raised]="true"
        severity="danger"
        (click)="excluirPessoa()"
      >
      </p-button>
    </div>

    <div class="btn-container">
      <p-toast />
      <p-button
        label="Voltar"
        [raised]="true"
        severity="info"
        [routerLink]="['/']"
      >
      </p-button>
    </div>

  </div>
</div>
