.centered-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.gap-2 > * + * {
  margin-top: 1.5rem;
}

p-floatLabel input {
  border: 1px solid lightblue;
  padding: 0.5rem;
  border-radius: 4px;
}

.btn-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}
